/* Paleta de colores */

.fondo-c1 {
  background-color: #1e1f20;
}
.fondo-c2 {
  background-color: #3a3d3f;
}

.fondo-c3 {
  background-color: #d9dbeb;
}

/* Remover estilo de li */
.ultimosApuntes li {
  list-style: none;
}

.ultimosApuntes li::before {
  content: "- ";
}
